@model Category
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    
        <a class="btn btn-light"  asp-controller="Restaurants" asp-action="List"  asp-route-id="@Model.CategoryId">
                @Model.NameCategory
        </a>
    
 



