@model Restaurant
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 mt-4">
    <div class="card">
        <a asp-controller="Restaurants" asp-action="List"></a>
        <a class="card-img-top" asp-action="Restaurant" asp-route-id="@Model.RestaurantId">
            <img width="250px" height="200px" src="@Model.ImageUrl" />
        </a>
        <div class="card-footer">
            <div class="card-text">
                <h4>
                    @Model.RestaurantName
                       <a class="btn btn-light" id="cartButton" asp-action="AddToFavoriteCart" asp-controller="FavoriteCart" asp-route-restaurantId="@Model.RestaurantId">
                        <svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd" />
                        </svg>
                       </a>
               
                 </h4>
            </div>
        @*<div class="text-info"> reviews</div>*@
    </div>
</div>
</div>