.testimonials {
    width: 720px;
    max-width: 96%;
    margin: 0 auto;
}

    .testimonials blockquote {
        background-color: #fff;
        border-left: 4px #61acca solid;
        font-size: 21px;
        line-height: 1.6;
    }

    .testimonials blockquote {
        padding: 10px 20px;
    }

    .testimonials blockquote {
        background-image: url('http://shared-assets.s3.amazonaws.com/codepen/img/elements/quotes/quote-999.jpg');
        background-repeat: no-repeat;
        background-size: 33px 45px;
        background-position: 10px 5px;
    }

    .testimonials cite {
        font-size: 0.7em;
        font-style: normal;
    }

.author {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 6px 0 36px;
}

p {
    margin: 0 0 0 36px;
}
.main-section {
    background: #FFFFFF;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0px 2px 7px 1px #aa9191;
}


.checked {
    color: orange;
    }
  
.review{
    background-color: rgb(103, 136, 163); 
    color:rgb(231, 228, 228);
    box-shadow: 0px 2px 2px rgba(3, 0, 5, 0.3);
}

.rev-container{
    background-color: rgb(255, 255, 255); 
    color:rgba(44, 44, 44, 0.589)
}

body{margin-top:0;
    background-image:url("https://i.pinimg.com/736x/42/0b/a3/420ba374712153c378a0cc23e8157b68.jpg") ; 
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
.container-fluid{
  background-color: rgb(243, 239, 236);
  
}
.container-fluid{
  text-color:rgb(82, 79, 79);
}
.info{
    background-image:url("https://i.pinimg.com/736x/42/0b/a3/420ba374712153c378a0cc23e8157b68.jpg");
}