@model IEnumerable<RestaurantReviewer.Models.Review>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=~/css/restaurantinfostyle.css>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">


</head>
<body>
    <h2 class="h1-responsive font-weight-bold my-5">Reviews</h2>
    <div class="testimonials">


        @{ foreach (var item in Model)
            {
                <blockquote>
                    <p>@item.Rate out of 5 </p>
                    <p>@item.ReviewDescription</p>
                    <cite>
                        <span class="user">– @item.Username,</span> @item.Date
                    </cite>
                </blockquote>



            }
        }
    </div>
</body>
</html>