@model IEnumerable<RestaurantReviewer.Models.Review>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=~/css/restaurantinfostyle.css>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">


</head>
<body>
    <h2 class="h1-responsive font-weight-bold my-5">Reviews</h2>
    
        @{ foreach (var item in Model)
            {
            <div class="row text-center">
                <div class="card xl-6">
                    <!--Grid column-->


                    <div class="testimonial">
                        <!--Content-->
                        <h4 class="font-weight-bold dark-grey-text mt-4">@item.Username</h4>
                        <h6 class="font-weight-bold blue-text my-3">@item.Date</h6>
                        <p class="font-weight-normal dark-grey-text">
                           @item.ReviewDescription
                        </p>
                        <!--Review-->

                    </div>

                </div>
            </div>
                    }
                    }
                
</body>
</html>